<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>

    <session-factory>
    
      
  
    
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
        
        <!--  property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
        <property name="connection.url">jdbc:mysql://localhost:3306/commandes</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/commandes?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>
        
        <!-- SQL dialect -->
        <!-- property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!-- property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Quelques autres options: validate, create (effacer et recréer le schéma à chaque exécution), update (mettre à jour le schéma si nécessaire) -->
 		<property name="hbm2ddl.auto">create</property>
 
 		
 		
 		<mapping class="onetoone.Commande"/>
 		<mapping class="onetoone.Facture"/>
 		
 		<mapping class="manytomany.Detaillivraison"/>
 		<mapping class="manytomany.Livraison"/>
 		
 		<mapping class="onetomany.Client"/>
 		<mapping class="onetomany.LigneDeCommande"/>
 		<mapping class="onetomany.Article"/>
 		
 		
 		
 	   <event type="pre-update">
        <listener
          class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>
       </event>
       
        <event type="pre-insert">
        <listener
          class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>
        </event>
 		
 		
    	
    </session-factory>
    
</hibernate-configuration>

